*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

:root {
    --background-color: rgb(5, 34, 60);
    --main-color: rgb(15, 63, 101);
    --h1-color: aliceblue;
    --h2-color: rgba(240, 248, 255, 0.747);
    --main-shadow: 0 0 10px rgba(13, 96, 163, 0.485);
    --text-color: rgb(172, 231, 253);
}

a {
    color: inherit;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    margin-top: 0px;
}

#logo {
    width: 50px;
    margin: 5px 0;
}

h1 {
    color: var(--h1-color);
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

.wrapper {
    margin: 20px;
    background-color: aliceblue;
    color: var(--main-color);
    box-shadow: var(--main-shadow);
}

p {
    margin: 0 10px;
    padding: 10px 0;
    text-align: justify;
}

.text {
    color: var(--text-color);
}

menu {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 0px 20px;
    color: var(--text-color);
    align-items: center;
}

menu > ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

menu > ul > li > a {
    display: flex;
    text-decoration: none;
    height: 60px;
    align-items: center;
    padding: 0 10px;
}

menu > ul > li > a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}

.err404 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}